
	<div layout="column" layout-align="center center">
		<section layout="row" flex>
			<md-sidenav class="md-sidenav-left md-whiteframe-z2"  md-is-locked-open="$mdMedia('gt-md')">
				<md-toolbar class="md-warn">
					<div class="md-toolbar-tools">
						<h1 class="md-display-4">Anri Morchiladze</h1>
					</div>
				</md-toolbar>
				<md-card>
				<img alt="anri" src="anri.jpg"> 
				<md-card-content>
					<h2 class="md-title">About Me</h2>
					<p> A passionate Developer. Senior student at International Black Sea University. </p>
				</md-card-content>
				<md-card>
			</md-sidenav>
		
			<md-content layout="row" flex>
				<md-card flex="50">
					<img alt="skills" src="skills.jpg" > 
					<md-card-content>
						<h2 class="md-title">Skills</h2>
						<div layout>
							<div flex="30" layout layout-align="center center"> <span class="md-body-1 md-primary">JavaScript</span> </div>
							<md-slider flex ng-model="80" min="1" max="100" class="md-primary"> </md-slider>
						</div>
						<div layout>
							<div flex="30" layout layout-align="center center"> <span class="md-body-1 md-warn">AngularJS</span> </div>
							<md-slider flex ng-model="70" min="1" max="100" class="md-warn"> </md-slider>
						</div>
						<div layout>
							<div flex="30" layout layout-align="center center"> <span class="md-body-1 md-primary">Jquery</span> </div>
							<md-slider flex ng-model="50" min="1" max="100" class="md-primary"> </md-slider>
						</div>
						<div layout>
							<div flex="30" layout layout-align="center center"> <span class="md-body-1 md-warn">CSS</span> </div>
							<md-slider flex ng-model="80" min="1" max="100" class="md-warn"> </md-slider>
						</div>
						
					</md-card-content>
				</md-card>
			</md-content>
		</section>
		
	</div>

