 <div layout="row" layout-align="center center"flex>
        <md-list>
			<md-list-item class="header">Edit</md-list-item>
			 <md-divider ></md-divider>
			<md-list-item ng-repeat="user in users">
			 <md-button class="btn" ng-click="editUser(user.id)">Edit</md-button>
			 <md-divider></md-divider>
			 </md-list-item>
		</md-list>
		<md-list>
			<md-list-item class="header">First Name</md-list-item>
			 <md-divider ></md-divider>
			<md-list-item class="item" ng-repeat="user in users">{{user.fName}}
			 <md-divider></md-divider>
			 </md-list-item>
		</md-list>
		<md-list>
			<md-list-item class="header">Last Name</md-list-item>
			 <md-divider ></md-divider>
			<md-list-item class="item" ng-repeat="user in users">{{user.lName}}
			 <md-divider></md-divider>
			 </md-list-item>
		</md-list>
		<md-list>
			<md-list-item class="header">Remove</md-list-item>
			 <md-divider ></md-divider>
			<md-list-item ng-repeat="user in users">
			 <md-button class="btn" ng-click="remove(user.id)" class="md-warn">Remove</md-button>
			 <md-divider></md-divider>
			 </md-list-item>
		</md-list>
	</div>


<div layout layout-sm="column">
        <md-input-container flex>
          <label>First name</label>
          <input type="text"  ng-model="fName" id="fName" >
        </md-input-container>
        <md-input-container flex>
          <label>Last Name</label>
          <input  type="text" ng-model="lName" id="lName">
        </md-input-container>
</div>
<center>
	<md-button ng-click="save(id,fName,lName)">Save Changes</md-button>
</center>

		

		

